scikit-learn
tensorflow
torch
matplotlib
japanize-matplotlib
seaborn
plotly
mecab-python3
spacy
ginza
ja_ginza
ja_ginza_electra
janome
nagisa
kytea
JapaneseTokenizer
neologdn
requests
black
beautifulsoup4
